<h1 class="animated fadeIn fast">Sobre comic's</h1>
<hr>

<p class="animated fadeIn">
    Los precursores del cómic se remontan a las formas pictóricas antiguas de la humanidad, que mezclaban texto e imagen en una secuencia de lectura, como ocurría con los jeroglíficos egipcios o los códices mayas. Sin embargo, sus primeras formas reales aparecen
    como medio de protesta y sátira política, en épocas tan antiguas como las del Imperio Romano. Estas viñetas de humor político mostraban a los poderosos o a los gobernantes en situaciones ridículas, soeces o risibles, y por ende solían ser anónimas
    e ilegales. La invención de la imprenta y la litografía, muy posteriormente, dio inicio a su divulgación masiva, a menudo como formato pedagógico para la educación religiosa de niños y mujeres, y posteriormente como un medio amable de brindar instrucciones
    al lector respecto al armado de un artefacto o a la conducta que debe tener en un recinto (por ejemplo, los dibujos que aún aparecen en los folletos de los aviones comerciales). En el siglo XIX la explosión de la prensa escrita masificó también el
    cómic, haciendo que recuperara su función paródica en las llamadas tiras cómicas: conjuntos de viñetas más o menos elaborados que contaban historias graciosas, satíricas, burlonas, a menudo vinculadas con los temas de actualidad, o recuperando relatos
    de la tradición popular o literaria. De allí se pasó, luego de la Primera Guerra Mundial, a la publicación en formato revista (los comic books), destinados a un público infantil y adolescente ávido de entretenimiento y escapes imaginativos, en las
    épocas difíciles de la Gran Depresión (alrededor de 1929). El formato revista sería el más célebre del género, dando origen a las revistas de superhéroes que aún perduran y que fueron el principal entretenimiento juvenil durante décadas. Muchos de
    sus personajes pasarían al cine, a la animación y luego a los videojuegos. A finales del siglo XX el formato alcanzó su madurez en la novela gráfica: una composición adulta, exigente, compleja, que reúne los atributos artísticos del dibujo y la ilustración,
    con la composición narrativa y la reflexión lingüística propias de la literatura.
</p>